.button56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    float: right;
    margin-right: 20%;
    margin-top: 7%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>")
        16 0,
        auto;
}
    .button56:hover{
        background-color: #f7b0e4; 
    }
  

.flexContainer {
    display: flex;
    flex-direction: column;
}

.images {
    width: 25%;
    height: 25%;
}
    .images:hover {
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✨</text></svg>")
        16 0,
        auto;
    }

.content {
    margin: 25px;
}

h1 {
    text-align: center;
    font-size: 50pt;
}

h2 {
    margin-left: 10%;
}

.paragraph {
    margin-left: 5%;
    margin-right: 5%;
}

.links {
    float: left;
    margin-left: 20%;
}
    .links a:hover{
        color: blue;
    }

.links ul {
    list-style: "✔"; 
}

.links ul li {
    padding: 1.5%;
}

a {
    color: black;
}
